.menu {
    animation: go-down 1s ease-in-out;
}

.close {
    color: white;
    transform: scale(1.5);
}

@keyframes go-down {
    0%{
        top: -100%;
        transform: scaleY(0);
    } 100% {
        top: 0;
        transform: scaleY(1);
    }
}